.bg-primary-shade-1{
    background-color: #0d65a4;
}
.opening-hours-card{
    table{
        tbody{
            tr{
                td{
                    background-color: transparent;
                    padding:7px 12px 7px 1px;
                    color: #fff;
                    border-color:#0b5e9a;
                }
            }
        }
    }
}
.h3-cstm{
    font-size:1.563rem;
}


@media (max-width: 1199.98px) {
    .opening-hours-card table tr td{
        font-size: 13px;
    }
    .h3-cstm{
        font-size:1.125rem;
    }
 }